@import "./styles/global.css";
@import "./styles/abtView.css";
@import "./styles/coverView.css";
@import "./styles/evoView.css";

:root {
    --primary-color: #000;
    --secondary-color: #939393;
    --background-color: #d7d7d7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Arial', sans-serif;
    /* pedir a olga a fonte */

}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    &>* {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    &.Evo-View .Cover-Only,
    &.Evo-View .Abt-Only,
    &.Cover-View .Evo-Only,
    &.Cover-View .Abt-Only,
    &.Abt-View .Evo-Only,
    &.Abt-View .Cover-Only{ 
        display: none !important;
    }

    & .tooltip{
        position: absolute;
        opacity: 0;
        pointer-events: none;

        background-color: var(--background-color);
        border: 1px solid var(--primary-color);

        padding: .675rem;
        color: var(--primary-color);
        text-align: start;
    }

}

#left-aside {
    flex: 1 1 0;

    align-items: center;
    justify-content: space-between;

    border-right: 2px solid var(--primary-color);

    &>#top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8rem;
    }

    & #search-container {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--primary-color);
        padding: .5rem;
    }

    & #parameter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &>.parameter {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .8rem;

            &>.title {
                font-weight: bold;
            }

            &>div {
                display: flex;
                flex-wrap: nowrap;
                gap: .5rem;

                &>.rating-container {
                    display: flex;
                    gap: 0;

                    &>div {
                        width: 1rem;
                        height: 1rem;
                        border: 1px solid var(--primary-color);

                        &.selected {
                            background-color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }

}

#right {
    flex: 4 0 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 8rem;
    overflow: hidden;
    padding-bottom: 0;

    &>nav {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;

        &>button {
            background-color: transparent;
            border: none;
        }
    }

    &>main {
        flex: 1 1 0;
        min-height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
}
