@import "./styles/AbtView.css";
@import "./styles/CoverView.css";

:root {
    --primary-color: #000;
    --secondary-color: #939393;
    --background-color: #d7d7d7;
}

@font-face {
    font-family: 'Grotesk Mono';
    src: url('./assets/fonts/ESKlarheitGroteskMono-Rg.otf') format('opentype');
}

@font-face {
    font-family: 'Grotesk Mono Bold';
    src: url('./assets/fonts/ESKlarheitGroteskMono-Bd.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: 'Grotesk Mono', monospace;
}


h2 {
        font-size: 7.5cqw;
}

h3 {
    font-family: 'Grotesk Mono Bold', monospace;
    font-size: 1rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1rem;
    line-height: 1.35;
}

h5 {
    font-size: 0.6rem;
    text-transform: uppercase;
}

h6 {
    font-family: 'Grotesk Mono', monospace;
    font-size: 0.6rem;
    line-height: 1.35;
}

.button_txt {
    background-color: var(--background-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap:nowrap;
    word-break: keep-all;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    min-width: 8rem;
    gap: 3rem;
}

.button_txt:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}



#app {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    &>* {
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    &.Evo-View .Cover-Only,
    &.Evo-View .Abt-Only,
    &.Cover-View .Evo-Only,
    &.Cover-View .Abt-Only,
    &.Abt-View .Evo-Only,
    &.Abt-View .Cover-Only{ 
        display: none !important;
    }

    & .tooltip{
        position: absolute;
        opacity: 0;
        pointer-events: none;

        background-color: var(--background-color);
        border: 1px solid var(--primary-color);

        padding: .675rem;
        color: var(--primary-color);
        text-align: start;
    }

}

#left-aside {
    flex: 0 0 1;

    align-items: center;
    justify-content: space-between;

    border-right: 2px solid var(--primary-color);

    &>#top {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5.6rem;

        &>input {
            font-family: 'Grotesk Mono', monospace;
            font-size: 0.6rem;
        }
    }

    & #search-container {
        width: 100%;
        background-color: transparent;
        border: 1px solid var(--primary-color);
        padding: .5rem;
    }

    & #parameter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        &>.parameter {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .4rem;

            &>.title {
                font-weight: bold;
            }

            &>div {
                display: flex;
                flex-wrap: nowrap;
                gap: .5rem;
                align-items: center;

                &>.rating-container {
                    display: flex;
                    gap: 0;

                    &>div {
                        width: 1rem;
                        height: 1rem;
                        border-top: 1px solid var(--primary-color);
                        border-bottom: 1px solid var(--primary-color);
                        border-left: 1px solid var(--primary-color);
                
                        &:last-of-type {
                            border-right: 1px solid var(--primary-color);
                        }

                        &.selected {
                            background-color: var(--secondary-color);
                        }
                    }
                }
            }
        }
    }

}

#right {
    flex: 0 0 4;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 6rem;
    overflow: hidden;
    padding-bottom: 0;

    &>nav {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1.5rem;

        &>a.active h4 {
            text-decoration: underline;
    }
    }

    &>main {
        flex: 1 1 0;
        min-height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* evolution container */
        &>#evolution-container {
            flex:1 1 0;
            min-height: 0;
            width: 100%;
            position: relative;

            display: flex;
            flex-direction: column;
            gap: 1rem;


            &>.population-map {
                width: 100%;
                flex: 1 1 0;
                min-height: 0;
                overflow: scroll;
                padding-bottom: 8rem;
                padding-top: 2px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 3rem;

                &::-webkit-scrollbar {
                    display: none;
                }

                &>.population-container {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 1rem;

                    &.finalized>canvas:not(:last-child){
                        opacity: .3;
                        pointer-events: none;
                    }

                    &>* {
                        flex: 2 1 0;
                        min-width: 0;
                        aspect-ratio: 1/1;


                        &:first-child {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        &.population-controls {
                            display: flex;

                            &>button {
                                width: 2rem;
                                height: 2rem;
                                background-color: transparent;
                                border: 1px solid var(--primary-color);
                                padding: .3rem;
                                position: relative;
                                cursor: pointer;

                                &:disabled{
                                    opacity: .3;
                                }

                                &:not(:disabled):hover>.tooltip{
                                    opacity: 1;
                                    top: calc(100% + .5rem);
                                    left: 0;
                                    width: 15cqw;
                                    height: auto;
                                }

                                &>img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }

                            }
                        }
                    }

                    &>canvas {
                        border: 1px solid var(--primary-color);

                        &.selected {
                            border-width: 3px;
                            margin: -2px;
                        }
                    }
                }
            }

            &>button{
                position: absolute;
                bottom: 2rem;
                right: 0;

                &:disabled{
                    border-color: var(--secondary-color);
                    color: var(--secondary-color);
                }

                &:hover>.tooltip{
                    bottom: calc(100% + .5rem);
                    right: 0;
                    width: 200cqw;
                    height: auto;
                }
            }
        }

    }
}
