#about {
    min-height: 0;
    overflow: scroll;
    padding-bottom: 8rem;
    
    &::-webkit-scrollbar {
                    display: none;
                }
}

#about article {
    padding-bottom: 3rem;
}

#about section {
    padding-bottom: 1.5rem;
}