@charset "utf-8";

/* =========================
   VARIABLES
========================= */
:root {
  /* colours */
  --black: #2a2a2a;
  --dark-grey: #939393;
  --grey: #dddddd;

  /* column --> 8.35vw */
  --padding-width: 1.5vw;
  --one-column: 9.85vw;
  --two-column: 19.7vw;
  --three-column: 29.55vw;
  --four-column: 39.4vw;
  --five-column: 49.25vw;
  --six-column: 59.1vw;
  --seven-column: 68.95vw;
  --eight-column: 78.8vw;
  --nine-column: 88.65vw;
}

/* =========================
   FONTS
========================= */
@font-face {
  font-family: "grotesk mono regular";
  src: url("../assets/fonts/ESKlarheitGroteskMono-Rg-TRIAL.otf") format("opentype");
}

/* =========================
   RESET & BASE
========================= */
html {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--grey);
  margin: 0;
}

body { 
    margin: 0; 
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}



/* =========================
   TYPOGRAPHY
========================= */
h1 {
    margin: 0;
    width: 100%;

    color: var(--black);
    font-family: "grotesk mono regular";

    font-size: 13.8cqw;
    line-height: 1;
    white-space: nowrap;
}

h3 {
  color: var(--black);
  font-family: "grotesk mono regular";
  text-transform: uppercase;
  font-size: 1.15vw;
  margin: 0;
}

p {
  color: var(--black);
  font-family: "grotesk mono regular";
  font-size: 1.15vw;
  line-height: 1.45vw;
  margin: 0;
}

h5 {
  color: var(--black);
  font-family: "grotesk mono regular";
  text-transform: uppercase;
  font-size: 0.75vw;
  line-height: 1vw;
  margin: 0;
}

h6 {
  color: var(--black);
  font-family: "grotesk mono regular";
  font-size: 0.75vw;
  line-height: 1vw;
  margin: 0;
}

/* =========================
   BUTTONS & INPUTS
========================= */
.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.2vh 15px;
  background-color: var(--grey);
  gap: 0.5vw;
  width: fit-content;
}

.button:hover { 
    background-color: var(--dark-grey); 
}

/* =========================
   HEADER / APP BAR / NAV
========================= */
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--padding-width);
    width: var(--two-column);
    height: 100vh;
    border-right: 1px solid var(--black);

    container-type: inline-size;
}

main {
    display: block;
    position: relative;
    padding-left: 24.2vw;
    width: 100vw;
    padding-top: var(--padding-width);
}

nav {
  justify-self: flex-start;
  display: flex;
  width: var(--one-column);
  justify-content: space-between;
  align-items: flex-start;
}

li {
    margin: 0;
    padding: 0;
}

nav li a {
    color: var(--black);
    font-family: "grotesk mono regular";
    text-transform: uppercase;
    font-size: 1vw;
    display: block;
    line-height: 1.5;
}

nav li a:hover {
    text-decoration: underline;
}

#selected {
    text-decoration: underline;
}




/* =========================
   DESCRIPTION BOOK
========================= */
#parameters_book {
      position: absolute;
      height: fit-content;
      bottom: 10vh;
      width: fit-content;
      justify-self: center;
}


.parameter {
      padding-top: var(--padding-width);
      text-align: center;
  }


    .row {
      display: flex;
      align-items: center;
      gap: 0.75vw;
      justify-content: center;
    }

    .row h6:first-of-type {
      text-align: right;
    }

    .parameter h5 {
      margin-bottom: 1vh;
    }

    .segmentos {
      display: flex;
    }

    .seg {
      width: 1vw;
      height: 1vw;
      border: 1px solid var(--black);
      background: transparent;
    }

    .seg.ativo {
      background: var(--dark-grey);
    }
